<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fontsPath>D:\projects\TGL\Git\mPOS\PdfXmlGenerator\configs\fonts</fontsPath>
	<dataJsonPath>D:\projects\TGL\Git\mPOS\PdfXmlGenerator\configs</dataJsonPath>
	<webPackagePath>D:\projects\TGL\Git\mPOS\PdfXmlGenerator\configs\web</webPackagePath>
	<pdfSavePath>D:\projects\TGL\Git\mPOS\PdfXmlGenerator\Pdfs</pdfSavePath>
</config>